.dateTime {
    display: flex;
    width: 70%;
    /* height: 300px; */
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 100%;
    display: none;
    overflow: hidden;
    z-index: 9999;
}

.dateCard {
    margin-top: 0px;
}
.dateText {
    /* align-items: center;
    justify-content: center; */
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    /* line-height: 1.12;
    letter-spacing: normal; */
    text-align: center;
}
.dateTime:hover {
    display: flex;
    /* border:1px solid pink; */
}

/* .dateTime > div {
    border: 1px solid tomato;
} */
/* .searchContainer *{
    border: 1px solid red;
} */
.calenderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calender {
    /* width: 80% !important; */
    transform: scale(0.8);
}
.card{
    width: '80%';
}
.modal{
    background-color: blue;
    /* width: 700px; */
    padding: 100%;
    /* padding-right: 50; */
}