.gridContainer {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.gridItem {

    font-size: var(--fs-400);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);

}

.gridItem.quote {
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
}

.img {
    width: 1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.gridItem .name {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1;
}